# Dependencies
**/node_modules/
project/screenshots/
projects/screenshots/

# Environment Variables
.env
client/gui/server/.env
client/gui/app/.env.local

# Frontend Build
client/gui/app/.next/
client/gui/app/out/

# Backend Build
client/gui/server/dist/

# Test Results & Storage
gui/server/storage/screenshots/*.png
gui/server/test-results/
gui/server/playwright-report/
client/report/screenshots/
client/report/reports/

# OS Files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
