# Dependencies
node_modules/
api/node_modules/
web/node_modules/

# Environment Variables
.env
api/.env
web/.env.local

# Frontend Build
web/.next/
web/out/

# Backend Build
api/dist/

# Test Results & Storage
api/storage/screenshots/*.png
api/test-results/
api/playwright-report/

# OS Files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
